<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main ">
      <!-- sidebar @s -->
      <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
        <div class="nk-sidebar-element nk-sidebar-head">
            <div class="nk-menu-trigger">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-sidebar-brand">

            </div>
        </div><!-- .nk-sidebar-element -->
        <div class="nk-sidebar-element nk-sidebar-body">
            <div class="nk-sidebar-content">
                <div class="nk-sidebar-menu" data-simplebar>
                    <ul class="nk-menu">

                        <li class="nk-menu-heading">
                            <h6 class="overline-title text-primary-alt">Dashboards</h6>
                        </li><!-- .nk-menu-item -->

                        <li class="nk-menu-item">
                            <a href="html/index-analytics.html" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
                                <span class="nk-menu-text">Analytics Dashboard</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="html/index-invest.html" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                                <span class="nk-menu-text">Financial Dashboard</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-heading">
                            <!-- <h6 class="overline-title text-primary-alt">Pre-Built Pages</h6> -->
                        </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb"></em></span>
                                <span class="nk-menu-text">Projects</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="html/project-card.html" class="nk-menu-link"><span class="nk-menu-text">Add Project</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/project-list.html" class="nk-menu-link"><span class="nk-menu-text">Edit Project</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                <span class="nk-menu-text">User Manage</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="html/user-list-regular.html" class="nk-menu-link"><span class="nk-menu-text">User List - Regular</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-list-compact.html" class="nk-menu-link"><span class="nk-menu-text">User List - Compact</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-details-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Details - Regular</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-profile-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Profile - Regular</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-card.html" class="nk-menu-link"><span class="nk-menu-text">User Contact - Card</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">

                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">

                        </li><!-- .nk-menu-item -->

                        <!-- .nk-menu-heading -->

                        <li class="nk-menu-heading">

                        </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item has-sub">

                        </li><!-- .nk-menu-item -->

                    </ul><!-- .nk-menu -->
                </div><!-- .nk-sidebar-menu -->
            </div><!-- .nk-sidebar-content -->
        </div><!-- .nk-sidebar-element -->
      </div>
      <!-- sidebar @e -->
      <!-- wrap @s -->
      <div class="nk-wrap ">
          <!-- main header @s -->
          <div class="nk-header nk-header-fixed is-light">
            <div class="container-fluid">
                <div class="nk-header-wrap">
                    <div class="nk-menu-trigger d-xl-none ml-n1">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                    </div>
                    <div class="nk-header-brand d-xl-none">

                    </div><!-- .nk-header-brand -->
                    <div class="nk-header-news d-none d-xl-block">
                        <div class="nk-news-list">
                            <a class="nk-news-item" href="#">

                            </a>
                        </div>
                    </div><!-- .nk-header-news -->
                    <div class="nk-header-tools">
                        <ul class="nk-quick-nav">
                            <li class="dropdown language-dropdown d-none d-sm-block mr-n1">
                            </li><!-- .dropdown -->
                            <li class="dropdown user-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm">
                                            <em class="icon ni ni-user-alt"></em>
                                        </div>
                                        <div class="user-info d-none d-md-block">
                                            <div class="user-status">Administrator</div>
                                            <div class="user-name dropdown-indicator">Muhammad Ali</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                    <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                        <div class="user-card">
                                            <div class="user-avatar">
                                                <span>AB</span>
                                            </div>
                                            <div class="user-info">
                                                <span class="lead-text">Muhammad Ali</span>
                                                <span class="sub-text">junarjacob@yahoo.com</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="link-list">
                                            <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                            <li><a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                            <li><a href="html/user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                            <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="link-list">
                                            <li (click)="logout()"><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li><!-- .dropdown -->

                        </ul><!-- .nk-quick-nav -->
                    </div><!-- .nk-header-tools -->
                </div><!-- .nk-header-wrap -->
            </div><!-- .container-fliud -->
          </div>
          <!-- main header @e -->
          <!-- content @s -->
          <div class="nk-content ">
              <div class="container-fluid">
                  <div class="nk-content-inner">
                      <div class="nk-content-body">
                          <div class="nk-block-head nk-block-head-sm">
                              <div class="nk-block-between">
                                  <div class="nk-block-head-content">
                                      <h3 class="nk-block-title page-title">Projects</h3>
                                  </div><!-- .nk-block-head-content -->
                                  <div class="nk-block-head-content">
                                      <div class="toggle-wrap nk-block-tools-toggle">
                                          <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                          <div class="toggle-expand-content" data-content="pageMenu">

                                          </div>
                                      </div><!-- .toggle-wrap -->
                                  </div><!-- .nk-block-head-content -->
                              </div><!-- .nk-block-between -->
                          </div><!-- .nk-block-head -->


                          <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabItem5"><em class="icon ni ni-user"></em><span>Project</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabItem6"><em class="icon ni ni-lock-alt"></em><span>Risks</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabItem7"><em class="icon ni ni-bell"></em><span>Invoices</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabItem8"><em class="icon ni ni-link"></em><span>nav</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabItem5">
                              <form [formGroup]="addProjectForm" (ngSubmit)="saveproject()">
                                <div class="nk-block">
                                  <div class="row gy-4">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="form-label" for="project-name">Project Name</label>
                                              <div class="form-control-wrap">
                                                  <input type="text" class="form-control" formControlName="projectname">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="project-manager">Project Manager</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" formControlName="projectmanager">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="phone-no">Phone Number</label>
                                            <input type="text" class="form-control" formControlName="mobile">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="email">Email Address</label>
                                            <input type="email" class="form-control" formControlName="email">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="project-owner">Project Owner</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" formControlName="projectowner">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="department">Department</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" formControlName="department">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="project-area">Project Area</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" formControlName="projectarea">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label class="form-label" for="start-date">PO Date</label>
                                          <input type="text" class="form-control" formControlName="podate" bsDatepicker [bsConfig]="bsConfig">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="pono">PO #</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" formControlName="pono">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="project-amount">Project Amount(SAR)</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" id="project-amount" formControlName="projectamount">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="form-label" for="start-date">Project Start Date</label>
                                              <input type="text" class="form-control" formControlName="projectstartdate" bsDatepicker [bsConfig]="bsConfig">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="form-label" for="end-date">Project edit-phone-no Date</label>
                                              <input type="text" class="form-control" formControlName="projectenddate" bsDatepicker [bsConfig]="bsConfig">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="project-period">Project Period(months)</label>
                                            <input type="text" class="form-control" formControlName="projectperiod">
                                        </div>
                                      </div>
                                      <div class="col-12">
                                          <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                              <li>
                                                  <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="saveproject(); $event.stopPropagation(); $event.preventDefault()">Add project</button>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="tab-pane" id="tabItem6">
                              <form [formGroup]="addRiskForm" (ngSubmit)="saverisk()">
                                <div class="nk-block">
                                  <div class="row gy-4">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="form-label" for="issue">Risk/Issue</label>
                                              <div class="form-control-wrap">
                                                  <input type="text" class="form-control" formControlName="issue">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="riskdate">Risk Date</label>
                                            <div class="form-control-wrap">
                                                <!-- <input type="text" class="form-control" formControlName="podate" bsDatepicker [bsConfig]="bsConfig"> -->
                                                <input type="text" class="form-control" formControlName="riskdate" bsDatepicker [bsConfig]="bsConfig">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="phone-no">Impact</label>
                                            <input type="text" class="form-control" formControlName="impact">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="action">Corrective Action</label>
                                            <input type="text" class="form-control" formControlName="correctiveaction">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="project-owner">Project Owner</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" formControlName="projectowner">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="department">Status</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control" formControlName="status">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                          <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                              <li>
                                                  <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="saverisk(); $event.stopPropagation(); $event.preventDefault()">Add risk</button>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="tab-pane" id="tabItem7">
                                <p>contnet</p>
                            </div>
                            <div class="tab-pane" id="tabItem8">
                                <p>contnet</p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- wrap @e -->
  </div>
  <!-- main @e -->
</div>
<!-- app-root @e -->



