<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main ">
      <!-- wrap @s -->
      <div class="nk-wrap nk-wrap-nosidebar">
          <!-- content @s -->
          <div class="nk-content ">
            <div class="nk-block nk-block-middle nk-auth-body wide-xs">
              <div class="card card-bordered">
                  <div class="card-inner card-inner-lg">
                      <div class="nk-block-head">
                          <div class="nk-block-head-content">
                              <h4 class="nk-block-title">Register</h4>
                              <div class="nk-block-des">
                                  <p>Create New Account</p>
                              </div>
                          </div>
                      </div>
                      <form [formGroup]="registerForm" (ngSubmit)="register()">
                          <div class="form-group">
                              <label class="form-label" for="name">Name</label>
                              <div class="form-control-wrap">
                                  <input type="text" class="form-control form-control-lg" placeholder="Enter your name" formControlName="name">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="form-label" for="email">Username</label>
                              <div class="form-control-wrap">
                                  <input type="text" class="form-control form-control-lg" placeholder="Enter your or username" formControlName="username">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="form-label" for="password">Password</label>
                              <div class="form-control-wrap">
                                  <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                      <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                      <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                  </a>
                                  <input type="password" class="form-control form-control-lg" placeholder="Enter your password" formControlName="password">
                              </div>
                          </div>
                          <div class="form-group">
                            <label class="form-label" for="project-category">Position</label>
                            <div class="form-control-wrap">
                              <select class="form-select" formControlName="position">
                                  <option value="admin">Administrator</option>
                                  <option value="projmgnr">Project Manager</option>
                                  <option value="moderator">Moderator</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="custom-control custom-control-xs custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="checkbox">
                                  <label class="custom-control-label" for="checkbox">I agree to TMF <a href="#">Privacy Policy</a> &amp; <a href="#"> Terms.</a></label>
                              </div>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                          </div>
                      </form>
                      <div class="form-note-s2 text-center pt-4"> Already have an account? <a href="html/pages/auths/auth-login-v2.html"><strong>Sign in instead</strong></a>
                      </div>
                  </div>
              </div>
          </div>

          </div>
          <!-- wrap @e -->
      </div>
      <!-- content @e -->
  </div>
  <!-- main @e -->
</div>
