<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main ">
    <!-- sidebar @s -->
    <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
        <div class="nk-sidebar-element nk-sidebar-head">
            <div class="nk-menu-trigger">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-sidebar-brand">

            </div>
        </div><!-- .nk-sidebar-element -->
        <div class="nk-sidebar-element nk-sidebar-body">
            <div class="nk-sidebar-content">
                <div class="nk-sidebar-menu" data-simplebar>
                    <ul class="nk-menu">

                        <li class="nk-menu-heading">
                            <h6 class="overline-title text-primary-alt">Dashboards</h6>
                        </li><!-- .nk-menu-item -->

                        <li class="nk-menu-item">
                            <a href="html/index-analytics.html" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
                                <span class="nk-menu-text">Analytics Dashboard</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="html/index-invest.html" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                                <span class="nk-menu-text">Financial Dashboard</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-heading">
                            <!-- <h6 class="overline-title text-primary-alt">Pre-Built Pages</h6> -->
                        </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb"></em></span>
                                <span class="nk-menu-text">Projects</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="html/project-card.html" class="nk-menu-link"><span class="nk-menu-text">Project Cards</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/project-list.html" class="nk-menu-link"><span class="nk-menu-text">Project List</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                <span class="nk-menu-text">User Manage</span>
                            </a>
                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a href="html/user-list-regular.html" class="nk-menu-link"><span class="nk-menu-text">User List - Regular</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-list-compact.html" class="nk-menu-link"><span class="nk-menu-text">User List - Compact</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-details-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Details - Regular</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-profile-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Profile - Regular</span></a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="html/user-card.html" class="nk-menu-link"><span class="nk-menu-text">User Contact - Card</span></a>
                                </li>
                            </ul><!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                            <!-- .nk-menu-sub -->
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item has-sub">

                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">

                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">

                        </li><!-- .nk-menu-item -->

                        <!-- .nk-menu-heading -->

                        <li class="nk-menu-heading">

                        </li><!-- .nk-menu-heading -->
                        <li class="nk-menu-item has-sub">

                        </li><!-- .nk-menu-item -->

                    </ul><!-- .nk-menu -->
                </div><!-- .nk-sidebar-menu -->
            </div><!-- .nk-sidebar-content -->
        </div><!-- .nk-sidebar-element -->
    </div>
    <!-- sidebar @e -->
    <!-- wrap @s -->
    <div class="nk-wrap ">
        <!-- main header @s -->
        <div class="nk-header nk-header-fixed is-light">
            <div class="container-fluid">
                <div class="nk-header-wrap">
                    <div class="nk-menu-trigger d-xl-none ml-n1">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                    </div>
                    <div class="nk-header-brand d-xl-none">

                    </div><!-- .nk-header-brand -->
                    <div class="nk-header-news d-none d-xl-block">
                        <div class="nk-news-list">
                            <a class="nk-news-item" href="#">

                            </a>
                        </div>
                    </div><!-- .nk-header-news -->
                    <div class="nk-header-tools">
                        <ul class="nk-quick-nav">
                            <li class="dropdown language-dropdown d-none d-sm-block mr-n1">
                            </li><!-- .dropdown -->
                            <li class="dropdown user-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm">
                                            <em class="icon ni ni-user-alt"></em>
                                        </div>
                                        <div class="user-info d-none d-md-block">
                                            <div class="user-status">Administrator</div>
                                            <div class="user-name dropdown-indicator">Muhammad Ali</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                    <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                        <div class="user-card">
                                            <div class="user-avatar">
                                                <span>AB</span>
                                            </div>
                                            <div class="user-info">
                                                <span class="lead-text">Muhammad Ali</span>
                                                <span class="sub-text">junarjacob@yahoo.com</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="link-list">
                                            <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                            <li><a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                            <li><a href="html/user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                            <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="link-list">
                                            <li><a href="#"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li><!-- .dropdown -->
                            <li class="dropdown notification-dropdown mr-n1">
                                <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                    <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                    <div class="dropdown-head">
                                        <span class="sub-title nk-dropdown-title">Notifications</span>
                                        <a href="#">Mark All as Read</a>
                                    </div>
                                    <div class="dropdown-body">
                                        <div class="nk-notification">
                                            <div class="nk-notification-item dropdown-inner">
                                                <div class="nk-notification-icon">
                                                    <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                </div>
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                    <div class="nk-notification-time">2 hrs ago</div>
                                                </div>
                                            </div>
                                            <div class="nk-notification-item dropdown-inner">
                                                <div class="nk-notification-icon">
                                                    <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                </div>
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                    <div class="nk-notification-time">2 hrs ago</div>
                                                </div>
                                            </div>
                                            <div class="nk-notification-item dropdown-inner">
                                                <div class="nk-notification-icon">
                                                    <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                </div>
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                    <div class="nk-notification-time">2 hrs ago</div>
                                                </div>
                                            </div>
                                            <div class="nk-notification-item dropdown-inner">
                                                <div class="nk-notification-icon">
                                                    <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                </div>
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                    <div class="nk-notification-time">2 hrs ago</div>
                                                </div>
                                            </div>
                                            <div class="nk-notification-item dropdown-inner">
                                                <div class="nk-notification-icon">
                                                    <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                </div>
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                    <div class="nk-notification-time">2 hrs ago</div>
                                                </div>
                                            </div>
                                            <div class="nk-notification-item dropdown-inner">
                                                <div class="nk-notification-icon">
                                                    <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                </div>
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                    <div class="nk-notification-time">2 hrs ago</div>
                                                </div>
                                            </div>
                                        </div><!-- .nk-notification -->
                                    </div><!-- .nk-dropdown-body -->
                                    <div class="dropdown-foot center">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li><!-- .dropdown -->
                        </ul><!-- .nk-quick-nav -->
                    </div><!-- .nk-header-tools -->
                </div><!-- .nk-header-wrap -->
            </div><!-- .container-fliud -->
        </div>
        <!-- main header @e -->
        <!-- content @s -->
        <div class="nk-content ">
            <div class="container-fluid">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">مشروع صيانة العداد وملحقاته باحياء متفرقة بمدينة الرياض</h3>
                                    <div class="nk-block-des text-soft">
                                        <p>Project Manager: Emad Alayass</p>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                            </div><!-- .nk-block-between -->
                        </div><!-- .nk-block-head -->
                        <div class="nk-block">
                            <div class="row g-gs">
                                <div class="col-lg-12">
                                    <div class="card card-bordered h-100">
                                        <div class="card-inner">

                                            <div class="nk-order-ovwg">
                                                <div class="row g-4 align-end">
                                                    <div class="col-xl-6">
                                                        <div class="card-title-group align-start mb-3">
                                                          <div class="card-title">
                                                              <h6 class="title">Time Progress %</h6>
                                                          </div>
                                                        </div><!-- .card-title-group -->
                                                        <div style="display: block;">
                                                            <canvas class="order-overview-chart" baseChart
                                                              [datasets]="barChartData"
                                                              [labels]="barChartLabels"
                                                              [options]="barChartOptions"
                                                              [plugins]="barChartPlugins"
                                                              [legend]="barChartLegend"
                                                              [chartType]="barChartType">
                                                            </canvas>
                                                        </div>
                                                    </div><!-- .col -->
                                                    <div class="col-xl-6">
                                                      <div class="card-title-group align-start mb-3">
                                                        <div class="card-title">
                                                            <h6 class="title">Invoice Progress</h6>
                                                        </div>
                                                      </div><!-- .card-title-group -->
                                                      <div style="display: block;">
                                                          <canvas class="order-overview-chart" baseChart
                                                            [datasets]="hBarChartData"
                                                            [labels]="hBarChartLabels"
                                                            [options]="barChartOptions"
                                                            [plugins]="barChartPlugins"
                                                            [legend]="barChartLegend"
                                                            [chartType]="hBarChartType">
                                                          </canvas>
                                                      </div>
                                                  </div><!-- .col -->
                                                </div>
                                            </div><!-- .nk-order-ovwg -->
                                        </div><!-- .card-inner -->
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-lg-4">

                                </div><!-- .col -->
                                <div class="col-lg-12">
                                    <div class="card card-bordered card-full">
                                        <div class="card-inner">
                                            <div class="card-title-group">
                                                <div class="card-title">
                                                    <h6 class="title"><span class="mr-2">Escalated Issues/Risks</span></h6>
                                                </div>
                                            </div>
                                        </div><!-- .card-inner -->
                                        <div class="card-inner p-0 border-top">
                                            <div class="nk-tb-list nk-tb-orders">
                                                <div class="nk-tb-item nk-tb-head">
                                                    <div class="nk-tb-col nk-tb-orders-type"><span>Risk/Issue</span></div>
                                                    <div class="nk-tb-col"><span>Date</span></div>
                                                    <div class="nk-tb-col tb-col-sm"><span>Impact</span></div>
                                                    <div class="nk-tb-col tb-col-xl"><span>Corrective Action</span></div>
                                                    <div class="nk-tb-col tb-col-xl"><span>Owner</span></div>
                                                    <div class="nk-tb-col tb-col-sm text-right"><span>Status</span></div>
                                                    <!-- <div class="nk-tb-col text-right"><span>Amount</span></div> -->
                                                </div><!-- .nk-tb-item -->
                                                <div class="nk-tb-item">
                                                    <div class="nk-tb-col nk-tb-orders-type">
                                                        <span>عدم توفر تصاريح الأمانة</span>
                                                    </div>
                                                    <div class="nk-tb-col">
                                                        <span class="tb-sub">02/01/2017</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-sm">
                                                       <span class="tb-sub text-primary">توقف الأعمال في بنود التركيب</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-xl">
                                                        <span>تم تمديد مدة العقد للرياض وجدة ومكة المكرمة الى نهاية 2019</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-xl">
                                                        <span>NWC</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-sm text-right">
                                                        <span class="tb-sub tb-amount">SOLVED</span>
                                                    </div>
                                                </div><!-- .nk-tb-item -->
                                                <div class="nk-tb-item">
                                                    <div class="nk-tb-col nk-tb-orders-type">
                                                        <span>عدم توفر تصاريح الأمانة</span>
                                                    </div>
                                                    <div class="nk-tb-col">
                                                        <span class="tb-sub">02/01/2017</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-sm">
                                                      <span class="tb-sub text-primary">توقف الأعمال في بنود التركيب</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-xl">
                                                        <span>تم تمديد مدة العقد للرياض وجدة ومكة المكرمة الى نهاية 2019</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-xl">
                                                        <span>NWC</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-sm text-right">
                                                        <span class="tb-sub tb-amount">SOLVED</span>
                                                    </div>
                                                </div><!-- .nk-tb-item -->
                                            </div>
                                        </div><!-- .card-inner -->
                                        <div class="card-inner-sm border-top text-center d-sm-none">
                                            <a href="#" class="btn btn-link btn-block">See History</a>
                                        </div><!-- .card-inner -->
                                    </div><!-- .card -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .nk-block -->

                        <div class="nk-block">
                          <div class="row g-gs">
                            <div class="col-lg-12">
                              <div class="row g-gs">
                                  <div class="col-md-6 col-lg-12">
                                    <div class="card-inner">
                                      <div class="card-title-group">
                                          <div class="card-title">
                                              <h6 class="title"><span class="mr-2"> Real Project Expenses : ( ! ) : Excluding HR costs & Over Head costs )</span></h6>
                                          </div>
                                      </div>
                                  </div><!-- .card-inner -->

                                  <div class="table-responsive">
                                    <table class="table table-sm">
                                      <tbody>
                                        <tr>
                                          <th scope="row"><span>Materials</span> <span>تكاليف مواد المشروع</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Food allowance</span> <span>الإعاشة </span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Accomodation</span> <span>السكن </span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Sites rental</span> <span>استئجار مواقع</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Uniform</span> <span>زي العمل</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Laborer Tools</span> <span>الأدوات اليدوية للعمال</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>OT</span> <span>ساعات العمل الإضافية </span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Tickets</span> <span>تذاكر السفر</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Vehicles</span> <span>السيارات</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Equipments</span> <span>المعدات</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Fuel</span> <span>تكاليف الوقود وصيانة المعدات والسيارات</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Warehouse</span> <span>تكاليف المستودعات</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Sub base & Asphalt</span> <span>تكاليف الدفان + الاسفلت</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Sub-contract Excuation</span> <span>تكاليف التنفيذ ( من الباطن )</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Other</span> <span>نثريات ( أخرى )</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Documents</span> <span>وثائق المشروع ( كراسة المشروع - طباعة - تصوير - خرائط ) </span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Penalties</span> <span>الغرامات</span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                        <tr>
                                          <th scope="row"><span>Consultancy</span> <span>العقد الاستشاري </span></th>
                                          <td>4655000</td>
                                          <td>37%</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  </div><!-- .col -->
                              </div><!-- .row -->
                          </div><!-- .col -->
                          </div> <!-- .row -->
                        </div><!-- .nk-block -->
                    </div>
                </div>
            </div>
        </div>
        <!-- content @e -->
    </div>
    <!-- wrap @e -->
</div>
<!-- main @e -->
</div>

